<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Sheet Smithy</title>
    <link rel="stylesheet" href="/static/stylesheet.css">

    <script src="/static/homepageScript.js"></script>
    
</head>
<body onload="setSeed();loadSpeciesOptions();loadClassChoices();hideAbilityScores();hideLanguages();hideInventory()">
    <form id="characterForm" action="/generate" method="get" >
        <div>
           Welcome adventurer, to Sheet Smithy! Lets put hammer to steel and forge your first character! Give your new hero a great name below. Use <a href="https://www.fantasynamegenerators.com" target="_blank">this&nbsp;website</a> if you're stuck!
        </div>

        <label for="name">Character name:</label>
        <input type="text" id="name" name="name" value="">
        <em>Tip: Ask your Game Master if you're not sure what level you are playing at. </em>
        <label for="level">Level:</label>
        <select id="level" name="level" onchange="loadClassChoices()">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
        </select>
        
        <label for="classAsString">Class:</label>
        <select id="classAsString" name="classAsString" onchange="loadClassChoices()">
            <option value="">Select a class</option>
            <option value="Barbarian">Barbarian</option>
            <option value="Cleric">Cleric</option>
            <option value="Druid">Druid</option>
            <option value="Fighter">Fighter</option>
            <option value="Monk">Monk</option>
            <option value="Paladin">Paladin</option>
            <option value="Ranger">Ranger</option>
            <option value="Rogue">Rogue</option>
            
        </select>
        
        <select id="divineOrder" name="divineOrder" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a Divine Order</option>
            <option value="thaumaturge">Thaumaturge</option>
            <option value="protector">Protector</option>
        </select>
        <select id="primalOrder" name="primalOrder" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a Primal Order</option>
            <option value="magician">Magician</option>
            <option value="warden">Warden</option>
        </select>

        <select id="barbarianSubclass" name="barbarianSubclass" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a subclass</option>
            <option value="wildHeart">Path of the Wild Heart</option>
            <option value="berserker">Path of the Berserker</option>
            <option value="wildMagic">Path of Wild Magic</option>
        </select>
        <select id="clericSubclass" name="clericSubclass" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a subclass</option>
            <option value="life">Life</option>
            <option value="war">War</option>
        </select>
        
        <select id="rangerSubclass" name="rangerSubclass" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a subclass</option>
            <option value="monster slayer">Monster Slayer</option>
            <option value="hunter">Hunter</option>
        </select>

        <select id="monkSubclass" name="monkSubclass" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a subclass</option>
            <option value="openHand">Way of the Open Hand</option>
            <option value="shadow">Way of the Shadow</option>
        </select>
        
        <select id="fighterSubclass" name="fighterSubclass" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a subclass</option>
            <option value="champion">Champion</option>
            <option value="rune">Rune Knight</option>
        </select>
        
        <select id="rogueSubclass" name="rogueSubclass" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a subclass</option>
            <option value="thief">Thief</option>
            <option value="assassin">Assassin</option>
            <option value="swash">Swashbuckler</option>
        </select>
        
        <select id="paladinSubclass" name="paladinSubclass" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a subclass</option>
            <option value="vengeance">Oath of Vengeance</option>
            <option value="ancients">Oath of the Ancients</option>
        </select>


        <label for="race">Species:</label>
        <select id="race" name="race" onchange="loadSpeciesOptions()">
            <option value="">Select a species</option>
            <option value="aasimar">Aasimar</option>
            <option value="dwarf">Dwarf</option>
            <option value="elf">Elf</option>
            <option value="gnome">Gnome</option>
            <option value="goliath">Goliath</option>
            <option value="halfling">Halfling</option>
            <option value="human">Human</option>
            <option value="orc">Orc</option>
            <option value="tiefling">Tiefling</option>
        </select>
        
        <select id="size" name="size" class="startInvisible">
            <option value="">Select a size</option>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
        </select>

        <select id="goliathSubrace" class="startInvisible" name="goliathSubrace">
            <option value="">Select a subrace</option>
            <option value="Storm">Storm</option>
            <option value="Stone">Stone</option>
            <option value="Hill">Hill</option>
            <option value="Frost">Frost</option>
            <option value="Fire">Fire</option>
            <option value="Stone">Stone</option>
        </select>

        <select id="elfSubrace" class="startInvisible" name="elfSubrace">
            <option value="">Select a subrace</option>
            <option value="Wood">Wood</option>
            <option value="High">High</option>
            <option value="Drow">Drow</option>
           
        </select>
        <select id="gnomeSubrace" class="startInvisible" name="gnomeSubrace">
            <option value="">Select a subrace</option>
            <option value="Rock">Rock</option>
            <option value="Forest">Forest</option>
        </select>
        
        <select id="tieflingSubrace" class="startInvisible" name="tieflingSubrace">
            <option value="">Select a subrace</option>
            <option value="Infernal">Infernal</option>
            <option value="Abyssal">Abyssal</option>
            <option value="Chthonic">Chthonic</option>

        </select>
        
        <select id="humanFeatChoice" class="startInvisible" name="humanFeatChoice">
            <option value="">Select a Feat</option>
            <option value="skilled">Skilled (+3 skills)</option>
            <option value="savageAttacker">Savage Attacker</option>
            <option value="tough">Tough (+hp)</option>
            <option value="alert">Alert (+initiative)</option>
        </select>
        
        <label for="background">Background:</label>
        <select id="background" name="background">
            <option value="">Select a background (optional)</option>
            <option value="Farmer">Farmer</option>
            <option value="Sage">Sage</option>
            <option value="Criminal">Criminal</option>
            <option value="Charlatan">Charlatan</option>
            <option value="Hermit">Hermit</option>
            <option value="Noble">Noble</option>
            <option value="Merchant">Merchant</option>
            <option value="Soldier">Soldier</option>
            <option value="Scribe">Scribe</option>
            <option value="Wayfarer">Wayfarer</option>
            <option value="Guard">Guard</option>
        </select>
        <br>
        <button type="submit" value="" onclick="wrapUp();" class="majorButton">Create my character!</button>
        <br>
        <p>These following questions are optional. If this is your first character, please just ignore this. </p>


        <select id="fightStyle" name="fightStyle" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a Fight Style</option>
            <option value="defence">Defence (+1 AC)</option>
            <option value="blindsight">Blindsight</option>
            <option value="protection">Protection</option>
            <option value="archery">Archery</option>
            <option value="interception">Interception</option>
            <option value="greatWeaponFighting">Great Weapon Fighter</option>
        </select>
        <select id="l4-feat" name="l4-feat" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a feat / ASI for level 4</option>
            <option value="asi">Ability Score Increase (Sheet Smithy chooses)</option>
            <option value="addStr">Boost Strength +1</option>
            <option value="addDex">Boost Dexterity +1</option>
            <option value="addCon">Boost Constitution +1</option>
            <option value="addInt">Boost Intelligence +1</option>
            <option value="addWis">Boost Wisdom +1</option>
            <option value="addCha">Boost Charisma +1</option>
            <option value="defence">Defence (+1 AC)</option>
            <option value="blindsight">Blindsight</option>
            <option value="protection">Protection</option>
            <option value="archery">Archery</option>
            <option value="interception">Interception</option>
            <option value="greatWeaponFighting">Great Weapon Fighter</option>
            <option value="lucky">Lucky</option>
            <option value="skilled">Skilled (+3 skills)</option>
            <option value="savageAttacker">Savage Attacker</option>
            <option value="tough">Tough (+hp)</option>
            <option value="alert">Alert (+initiative)</option>
            <option value="healer">Healer</option>
            
        </select>
        <select id="l6-feat" name="l6-feat" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a feat / ASI for level 6</option>
            <option value="asi">Ability Score Increase (Sheet Smithy chooses)</option>
            <option value="addStr">Boost Strength +1</option>
            <option value="addDex">Boost Dexterity +1</option>
            <option value="addCon">Boost Constitution +1</option>
            <option value="addInt">Boost Intelligence +1</option>
            <option value="addWis">Boost Wisdom +1</option>
            <option value="addCha">Boost Charisma +1</option>
            <option value="defence">Defence (+1 AC)</option>
            <option value="blindsight">Blindsight</option>
            <option value="protection">Protection</option>
            <option value="archery">Archery</option>
            <option value="interception">Interception</option>
            <option value="greatWeaponFighting">Great Weapon Fighter</option>
            <option value="lucky">Lucky</option>
            <option value="skilled">Skilled (+3 skills)</option>
            <option value="savageAttacker">Savage Attacker</option>
            <option value="tough">Tough (+hp)</option>
            <option value="alert">Alert (+initiative)</option>
            <option value="healer">Healer</option>
            
        </select>
                    <em id="l4-feat-label">Please note: some feats cannot be taken more than once.<br><br></em>
                </label>
                
        <label for="showScores">
        <input type="checkbox" id="showScores" name="showScores">Show Scores on Sheet?
        </label>
        
    
        <label for="showShortRest">
        <input type="checkbox" id="showShortRest" name="showShortRest" checked>Show what to do after a Short Rest ?
        </label>
        
        <label for="showLongRest">
        <input type="checkbox" id="showLongRest" name="showLongRest" checked>Show what to do after a Long Rest ?
        </label>

        
        
        

        <br>
        <div id="showScoresButton">
            <button type="button" class="minorButton" onclick="showAbilityScores(); ">Customise ability scores?</button>
        
        </div>
        <div id="hideScoresButton" class="startInvisible" >
            <button  type="button" class="minorButton" onclick="hideAbilityScores();">Hide scores</button>
        </div>
        
        

        <div id="abilityScores" class="startInvisible">
            <br>
            Distribute your ability scores from the Standard Array [15,14,13,12,10,8] or use a Point Buy method to get a different array <a href="https://chicken-dinner.com/5e/5e-point-buy.html" target="_blank">here</a> (ignore Race). Legends even speak of some who roll dice for their scores, but check this with your DM first. 
            <div class="row">
            <div class="column">
            <label for="Strength">Strength:</label>
            <input type="number" id="Strength" name="Strength" min="1" max="20" value=10>
            </div>
            
            <div class="column" style="left:15%">
            <label for="Dexterity">Dexterity:</label>
            <input type="number" id="Dexterity" name="Dexterity" min="1" max="20" value=10>
            </div>
            
            <div class="column" style="left:15%">
            <label for="Constitution">Constitution:</label>
            <input type="number" id="Constitution" name="Constitution" min="1" max="20" value=10>
            </div>
            
            <div class="column">
            <label for="Intelligence">Intelligence:</label>
            <input type="number" id="Intelligence" name="Intelligence" min="1" max="20" value=10>
            </div>
            
            <div class="column">
            <label for="Wisdom">Wisdom:</label>
            <input type="number" id="Wisdom" name="Wisdom" min="1" max="20" value=10>
            </div>
            <div class="column">
            <label for="Charisma">Charisma:</label>
            <input type="number" id="Charisma" name="Charisma" min="1" max="20" value=10>
            </div>
        </div>
            
            <em>Hiding the scores will choose for you from the array [15,14,13,10,10,10]. </em>
            <br>
            <br>

            
        </div>
    
        <div id="showLangsButton">
            <button type="button" class="minorButton" onclick="showLanguages();">Customise languages?</button>
            
        </div>
        <div id="hideLangsButton" class="startInvisible">
            <button type="button" class="minorButton" onclick="hideLanguages()">Close languages?</button>
            
        </div>

        <div id="langs" class="startInvisible">

            Extra languages are picked randomly, but if you would like to choose what they are list them below. <em>Eg. giant</em>
            
            <label for="name">Preferred Extra Languages:</label>
            <input type="text" id="languages" name="languages" value="">
            
        </div>
    

        <div id="showInventoryButton">
            <button type="button" class="minorButton" onclick="showInventory();">Customise inventory?</button>
            
        </div>
    
        <div id="hideInventoryButton" class="startInvisible">
            <button  type="button" class="minorButton" onclick="hideInventory();">Hide inventory</button>
        </div> 

        <div id="inventory" class="startInvisible">
            We send out our heroes with armor, a minimal set of weapons and 50ft of rope. If you want them to buy more gear before battle, list the items below separating them with a comma. For example: 
            <em>
                shield, potion of healing, whip
            </em>


            <label for="shoppingList">Shopping List:</label>
            <input type="text" id="shoppingList" name="shoppingList" value="">


            If you are allowed to add some gear from previous adventures, add it below. For example: 
            <em>
                psychic blade, plate armor
            </em>
            <label for="gearList">Free Gear:</label>
            <input type="text" id="gearList" name="gearList" value="">    
        </div>

        <button type="submit" value="" class="majorButton">Create my character!</button>

        <div id="showHelpButton">
            <button type="button" class="minorButton" onclick="showHelp();">Help! I don't know what I'm doing!</button>
            
        </div>
        <div id="help" class="startInvisible">
            <button type="button" class="minorButton" onclick="hideHelp();">Hide help?</button>
            Well, you're in the right place! Once you have generated a character, save it or print it off and give it a read. 
            It may not make much sense until you have played, but having an idea about what dice you will need and what some Actions your character has will be helpful to know if they get in a fight. 
            <br><br>When it is your turn in a game you get an Action, a Bonus Action and you can move up to your Speed. 
            For your convinience, all our character sheets have most of the Action options you can do listed in the middle of the page and your Bonus Actions (if you have any) on the bottom right.
            <br><br>If you see some "o"s following an ability, this means you can only use it so many times before running out. Be sure to cross off an "o" when you use it with a pencil, so you can regain the use when you take a rest. 
            <br><br>If you play a spellcaster, some abilities may cost Spell Slots or other resources, which will also need crossing off in the Spellcasting section. If it is your first time playing, I would recommend not playing a Cleric or Druid as they can be quite complicated.
            <br><br>If you're not sure about anything drop me an <a href='mailto:sheetsmithy@gmail.com' target="_blank">email</a> or ask your Game Master :) Good luck! 
            <br><br>
        </div>

        <div id="showMoreInfoButton">
            <button type="button" class="minorButton" onclick="document.getElementById('info').style.display='block'; document.getElementById('showMoreInfoButton').style.display='none';">Show more info about Sheet Smithy?</button>
        </div>
        <div id="info" class="startInvisible">
            <button type="button" class="minorButton" onclick="document.getElementById('info').style.display='none'; document.getElementById('showMoreInfoButton').style.display='block';">Show less info about Sheet Smithy?</button>
            Hi! My name is Luke! I'm a Game Master and developer from Newcastle (UK) and have built Sheet Smithy to create easy to read, beginner friendly character sheets.
            For more customisability, checkout other sites like Fast Character, DM's vault or of course, D&D Beyond. 
            <br><br>If you have a feature you want to see built into Sheet Smithy (and £5) then <a href="https://www.paypal.com/donate/?hosted_button_id=TDSH2JPEGA4UL" target="_blank"> toss a coin to your coder</a> and ill build it for you :)
            <br><br> Alternatively, if you are a Python-whisperer too and want to collaborate then check out my <a href="https://github.com/jeanlukeminchella/sheetsmithy" target="_blank">github</a> and drop me an <a href='mailto:sheetsmithy@gmail.com' target="_blank">email</a>!
        </div>

        <input type="hidden" id="seed" name="seed">
        </input>

        
        
        
    </form>



</body>
</html>